lifelines-studydefinition/src/main/resources/wsdl/EMeasure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif">
  <xs:include schemaLocation="POQM_MT000001UV.xsd"/>
  <xs:element name="HL7Container" type="HL7Container"/>
  <xs:complexType name="HL7Container">
    <xs:sequence>
      <xs:element name="QualityMeasureDocument" type="POQM_MT000001UV.QualityMeasureDocument"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfXElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HL7Container" type="HL7Container"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>