lifelines-studydefinition/src/main/resources/wsdl/StudyDefinitionService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://hl7.umcg.nl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://hl7.umcg.nl">
  <xs:import schemaLocation="EMeasure.xsd" namespace="urn:hl7-org:v3"/>
  <xs:element name="GetVersion">
    <xs:complexType/>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="email" type="xs:string"/>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="q1:HL7Container" xmlns:q1="urn:hl7-org:v3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FAULT" nillable="true" type="xs:string"/>
  <xs:element name="Submit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="studyDefinitionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitResponse">
    <xs:complexType/>
  </xs:element>
  <xs:element name="GetByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="HL7Containers" type="q2:ArrayOfXElement" xmlns:q2="urn:hl7-org:v3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReviseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="q3:HL7Container" xmlns:q3="urn:hl7-org:v3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="HL7Containers" type="q4:ArrayOfXElement" xmlns:q4="urn:hl7-org:v3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubmittedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="HL7Containers" type="q5:ArrayOfXElement" xmlns:q5="urn:hl7-org:v3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Approve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="studyDefinitionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveResponse">
    <xs:complexType/>
  </xs:element>
  <xs:element name="GetApprovedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="HL7Containers" type="q6:ArrayOfXElement" xmlns:q6="urn:hl7-org:v3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="studyDefinitionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawResponse">
    <xs:complexType/>
  </xs:element>
  <xs:element name="Suspend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="studyDefinitionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendResponse">
    <xs:complexType/>
  </xs:element>
  <xs:element name="Resume">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="studyDefinitionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeResponse">
    <xs:complexType/>
  </xs:element>
  <xs:element name="AddReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="studyDefinitionId" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="reviewComment">
          <xs:complexType>
            <xs:sequence>
              <xs:any processContents="lax"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReviewResponse">
    <xs:complexType/>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="studyDefinitionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="q7:HL7Container" xmlns:q7="urn:hl7-org:v3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>