lifelines-studydefinition/src/main/resources/wsdl/StudyDefinitionService_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="StudyDefinitionService" targetNamespace="http://hl7.umcg.nl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://hl7.umcg.nl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsp:Policy wsu:Id="BasicHttpBinding_GenericLayerStudyDefinitionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://hl7.umcg.nl/Imports">
      <xsd:import schemaLocation="StudyDefinitionService.xsd" namespace="http://hl7.umcg.nl"/>
      <xsd:import schemaLocation="EMeasure.xsd" namespace="urn:hl7-org:v3"/>
      <xsd:import schemaLocation="StudyDefinitionService_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GenericLayerStudyDefinitionService_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse"/>
  </wsdl:message>
  <wsdl:message name="MessageWithEmail">
    <wsdl:part name="email" element="tns:email"/>
  </wsdl:message>
  <wsdl:message name="CreateResponse">
    <wsdl:part name="parameters" element="tns:CreateResponse"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Create_FAULT_FaultMessage">
    <wsdl:part name="detail" element="tns:FAULT"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Submit_InputMessage">
    <wsdl:part name="parameters" element="tns:Submit"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Submit_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitResponse"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Submit_FAULT_FaultMessage">
    <wsdl:part name="detail" element="tns:FAULT"/>
  </wsdl:message>
  <wsdl:message name="GetByEmailResponse">
    <wsdl:part name="parameters" element="tns:GetByEmailResponse"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_GetByEmail_FAULT_FaultMessage">
    <wsdl:part name="detail" element="tns:FAULT"/>
  </wsdl:message>
  <wsdl:message name="Revise">
    <wsdl:part name="HL7Container" element="q1:HL7Container" xmlns:q1="urn:hl7-org:v3"/>
  </wsdl:message>
  <wsdl:message name="ReviseResponse">
    <wsdl:part name="parameters" element="tns:ReviseResponse"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Revise_FAULT_FaultMessage">
    <wsdl:part name="detail" element="tns:FAULT"/>
  </wsdl:message>
  <wsdl:message name="GetDraft">
    <wsdl:part name="email" element="tns:email"/>
  </wsdl:message>
  <wsdl:message name="GetDraftResponse">
    <wsdl:part name="parameters" element="tns:GetDraftResponse"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_GetDraft_FAULT_FaultMessage">
    <wsdl:part name="detail" element="tns:FAULT"/>
  </wsdl:message>
  <wsdl:message name="GetSubmitted">
    <wsdl:part name="email" element="tns:email"/>
  </wsdl:message>
  <wsdl:message name="GetSubmittedResponse">
    <wsdl:part name="parameters" element="tns:GetSubmittedResponse"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_GetSubmitted_FAULT_FaultMessage">
    <wsdl:part name="detail" element="tns:FAULT"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Approve_InputMessage">
    <wsdl:part name="parameters" element="tns:Approve"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Approve_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApproveResponse"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Approve_FAULT_FaultMessage">
    <wsdl:part name="detail" element="tns:FAULT"/>
  </wsdl:message>
  <wsdl:message name="GetApproved">
    <wsdl:part name="email" element="tns:email"/>
  </wsdl:message>
  <wsdl:message name="GetApprovedResponse">
    <wsdl:part name="parameters" element="tns:GetApprovedResponse"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_GetApproved_FAULT_FaultMessage">
    <wsdl:part name="detail" element="tns:FAULT"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Withdraw_InputMessage">
    <wsdl:part name="parameters" element="tns:Withdraw"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Withdraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:WithdrawResponse"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Withdraw_FAULT_FaultMessage">
    <wsdl:part name="detail" element="tns:FAULT"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Suspend_InputMessage">
    <wsdl:part name="parameters" element="tns:Suspend"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Suspend_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuspendResponse"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Suspend_FAULT_FaultMessage">
    <wsdl:part name="detail" element="tns:FAULT"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Resume_InputMessage">
    <wsdl:part name="parameters" element="tns:Resume"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Resume_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResumeResponse"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_Resume_FAULT_FaultMessage">
    <wsdl:part name="detail" element="tns:FAULT"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_AddReview_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReview"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_AddReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReviewResponse"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_AddReview_FAULT_FaultMessage">
    <wsdl:part name="detail" element="tns:FAULT"/>
  </wsdl:message>
  <wsdl:message name="GetById">
    <wsdl:part name="parameters" element="tns:GetById"/>
  </wsdl:message>
  <wsdl:message name="GetByIdResponse">
    <wsdl:part name="parameters" element="tns:GetByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="GenericLayerStudyDefinitionService_GetById_FAULT_FaultMessage">
    <wsdl:part name="detail" element="tns:FAULT"/>
  </wsdl:message>
  <wsdl:portType name="GenericLayerStudyDefinitionService">
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetVersion" message="tns:GenericLayerStudyDefinitionService_GetVersion_InputMessage"/>
      <wsdl:output wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetVersionResponse" message="tns:GenericLayerStudyDefinitionService_GetVersion_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/Create" name="MessageWithEmail" message="tns:MessageWithEmail"/>
      <wsdl:output wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/CreateResponse" name="CreateResponse" message="tns:CreateResponse"/>
      <wsdl:fault wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/CreateFAULT" name="FAULT" message="tns:GenericLayerStudyDefinitionService_Create_FAULT_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <wsdl:input wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/Submit" message="tns:GenericLayerStudyDefinitionService_Submit_InputMessage"/>
      <wsdl:output wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/SubmitResponse" message="tns:GenericLayerStudyDefinitionService_Submit_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/SubmitFAULT" name="FAULT" message="tns:GenericLayerStudyDefinitionService_Submit_FAULT_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetByEmail">
      <wsdl:input wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetByEmail" name="MessageWithEmail" message="tns:MessageWithEmail"/>
      <wsdl:output wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetByEmailResponse" name="GetByEmailResponse" message="tns:GetByEmailResponse"/>
      <wsdl:fault wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetByEmailFAULT" name="FAULT" message="tns:GenericLayerStudyDefinitionService_GetByEmail_FAULT_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Revise">
      <wsdl:input wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/Revise" name="Revise" message="tns:Revise"/>
      <wsdl:output wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/ReviseResponse" name="ReviseResponse" message="tns:ReviseResponse"/>
      <wsdl:fault wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/ReviseFAULT" name="FAULT" message="tns:GenericLayerStudyDefinitionService_Revise_FAULT_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetDraft">
      <wsdl:input wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetDraft" name="GetDraft" message="tns:GetDraft"/>
      <wsdl:output wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetDraftResponse" name="GetDraftResponse" message="tns:GetDraftResponse"/>
      <wsdl:fault wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetDraftFAULT" name="FAULT" message="tns:GenericLayerStudyDefinitionService_GetDraft_FAULT_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetSubmitted">
      <wsdl:input wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetSubmitted" name="GetSubmitted" message="tns:GetSubmitted"/>
      <wsdl:output wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetSubmittedResponse" name="GetSubmittedResponse" message="tns:GetSubmittedResponse"/>
      <wsdl:fault wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetSubmittedFAULT" name="FAULT" message="tns:GenericLayerStudyDefinitionService_GetSubmitted_FAULT_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <wsdl:input wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/Approve" message="tns:GenericLayerStudyDefinitionService_Approve_InputMessage"/>
      <wsdl:output wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/ApproveResponse" message="tns:GenericLayerStudyDefinitionService_Approve_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/ApproveFAULT" name="FAULT" message="tns:GenericLayerStudyDefinitionService_Approve_FAULT_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetApproved">
      <wsdl:input wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetApproved" name="GetApproved" message="tns:GetApproved"/>
      <wsdl:output wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetApprovedResponse" name="GetApprovedResponse" message="tns:GetApprovedResponse"/>
      <wsdl:fault wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetApprovedFAULT" name="FAULT" message="tns:GenericLayerStudyDefinitionService_GetApproved_FAULT_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <wsdl:input wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/Withdraw" message="tns:GenericLayerStudyDefinitionService_Withdraw_InputMessage"/>
      <wsdl:output wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/WithdrawResponse" message="tns:GenericLayerStudyDefinitionService_Withdraw_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/WithdrawFAULT" name="FAULT" message="tns:GenericLayerStudyDefinitionService_Withdraw_FAULT_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Suspend">
      <wsdl:input wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/Suspend" message="tns:GenericLayerStudyDefinitionService_Suspend_InputMessage"/>
      <wsdl:output wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/SuspendResponse" message="tns:GenericLayerStudyDefinitionService_Suspend_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/SuspendFAULT" name="FAULT" message="tns:GenericLayerStudyDefinitionService_Suspend_FAULT_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Resume">
      <wsdl:input wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/Resume" message="tns:GenericLayerStudyDefinitionService_Resume_InputMessage"/>
      <wsdl:output wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/ResumeResponse" message="tns:GenericLayerStudyDefinitionService_Resume_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/ResumeFAULT" name="FAULT" message="tns:GenericLayerStudyDefinitionService_Resume_FAULT_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="AddReview">
      <wsdl:input wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/AddReview" message="tns:GenericLayerStudyDefinitionService_AddReview_InputMessage"/>
      <wsdl:output wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/AddReviewResponse" message="tns:GenericLayerStudyDefinitionService_AddReview_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/AddReviewFAULT" name="FAULT" message="tns:GenericLayerStudyDefinitionService_AddReview_FAULT_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetById" name="GetById" message="tns:GetById"/>
      <wsdl:output wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetByIdResponse" name="GetByIdResponse" message="tns:GetByIdResponse"/>
      <wsdl:fault wsaw:Action="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetByIdFAULT" name="FAULT" message="tns:GenericLayerStudyDefinitionService_GetById_FAULT_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_GenericLayerStudyDefinitionService" type="tns:GenericLayerStudyDefinitionService">
    <wsp:PolicyReference URI="#BasicHttpBinding_GenericLayerStudyDefinitionService_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetVersion" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/Create" style="document"/>
      <wsdl:input name="MessageWithEmail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FAULT">
        <soap:fault name="FAULT" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <soap:operation soapAction="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/Submit" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FAULT">
        <soap:fault name="FAULT" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetByEmail">
      <soap:operation soapAction="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetByEmail" style="document"/>
      <wsdl:input name="MessageWithEmail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetByEmailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FAULT">
        <soap:fault name="FAULT" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Revise">
      <soap:operation soapAction="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/Revise" style="document"/>
      <wsdl:input name="Revise">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ReviseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FAULT">
        <soap:fault name="FAULT" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDraft">
      <soap:operation soapAction="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetDraft" style="document"/>
      <wsdl:input name="GetDraft">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetDraftResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FAULT">
        <soap:fault name="FAULT" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSubmitted">
      <soap:operation soapAction="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetSubmitted" style="document"/>
      <wsdl:input name="GetSubmitted">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetSubmittedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FAULT">
        <soap:fault name="FAULT" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <soap:operation soapAction="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/Approve" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FAULT">
        <soap:fault name="FAULT" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetApproved">
      <soap:operation soapAction="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetApproved" style="document"/>
      <wsdl:input name="GetApproved">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetApprovedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FAULT">
        <soap:fault name="FAULT" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <soap:operation soapAction="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/Withdraw" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FAULT">
        <soap:fault name="FAULT" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Suspend">
      <soap:operation soapAction="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/Suspend" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FAULT">
        <soap:fault name="FAULT" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Resume">
      <soap:operation soapAction="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/Resume" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FAULT">
        <soap:fault name="FAULT" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddReview">
      <soap:operation soapAction="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/AddReview" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FAULT">
        <soap:fault name="FAULT" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://hl7.umcg.nl/GenericLayerStudyDefinitionService/GetById" style="document"/>
      <wsdl:input name="GetById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FAULT">
        <soap:fault name="FAULT" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudyDefinitionService">
    <wsdl:port name="BasicHttpBinding_GenericLayerStudyDefinitionService" binding="tns:BasicHttpBinding_GenericLayerStudyDefinitionService">
      <soap:address location="https://aps001.research.usor.nl/Umcg.Tcc.GenericLayer.StudyDefinitionService-1/StudyDefinitionService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>