lifelines-catalog/src/main/resources/wsdl/ValueSet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="valueSets">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="valueSet" type="ValueSet"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValueSet">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="code">
        <xs:complexType>
          <xs:attribute name="code" type="xs:string" use="required"/>
          <xs:attribute name="displayName" type="xs:string" use="required"/>
          <xs:attribute name="codeSystemName" type="xs:string" use="required"/>
          <xs:attribute name="codeSystem" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="oid" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:schema>